.locationList {
    height: 100%;
    width: 100%;
}

.tableHeader {
    font-weight: bold;
    height: 3%;
    border: 1px solid black;
}

.tableBody {
    height: 96%;
    width: 100%;
    display: block;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tableBody::-webkit-scrollbar {
    display: none;
}

table, tr {
    font-weight: bold;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:hover {
    background-color: rgb(233, 226, 218);
}